.grid-container {
    display: grid;
    grid-template-areas:'main' 'promo' 'footer';
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.width-70 {
    width: 70%;
}

.main { 
    grid-area: main; 
    height: 200px;
    background:url(../images/main_hero.jpg);
    align-items: center;
}

.nav-bar {
    justify-content: center;
    background-image: linear-gradient(rgb(116, 116, 116) 30%,
     rgb(111, 111, 111) 49%,
     rgb(90, 90, 90) 50%,
     rgb(116, 116, 116) 90%);
     border-radius: 4px;
     color:white;
     margin-top: 40px;
}
    
.nav-bar > span {
    padding: 10px 30px;
}

.nav-item .fab {
    font-size: 30px;
}

.h1-title {
    text-align: center;
}

.h2-title {
    text-align: center;
}

.h3-title {
    text-align: center;
}

.promo { 
    grid-area: promo; 
}

.promo .image-wrap .img{
    width: 100%;
}

.footer { 
    grid-area: footer; 
    height: 50px;
    background-color: yellow;
}



.right-ft {
    width: 50%;
}


