.grid-container {
    display: grid;
    grid-template-areas:'main' 'promo' 'footer';
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* background, navbar and titles starts here */
/* *********************************************************************************** */

.main { 
    grid-area: main; 
    height: 538px;
    background:url(../images/main_hero.jpg)  50% 100% no-repeat;
    background-size: cover;
    align-items: center;
}

.main .nav-bar {
    justify-content: center;
}

.main .titles img.h1{
    margin: 20px 0px 0px 0px;
}

.main .titles img.h2{
    margin: 0px 0px 20px 0px
}


.main .titles div{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: white;
    text-align: center;
}

/* promo section starts here */
/* ******************************************************************************************** */

.promo { 
    grid-area: promo; 
}

.promo .image-wrap img{
    width: 100%;
}

/* footer starts here */
/* ********************************************************************************************* */

.footer { 
    grid-area: footer; 
    margin: 10px 100px;
}

.footer div{
    font-size: 11px;
    line-height: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer div p a{
    text-decoration: none;
}

.footer div p a:hover{
    text-decoration: underline;
}

.footer .upper-ft{
    justify-content: space-between;
}

.footer .lower-ft{
    width: 50%;
}


