.main .nav-bar {
    margin: 90px 0px 30px 0px;
    align-items: center;
}

.main .nav-bar span{
    cursor: pointer;
    padding: 9px 27px;
    border-right: 1px solid #484848;
}

.main .nav-bar span:hover{
    cursor: pointer;
    background: rgb(70, 70, 70);
}

.main .nav-bar span a{
    color: white;
    font-family: lucida sans,lucida sans regular,lucida grande,lucida sans unicode,Geneva,Verdana,sans-serif;
    text-decoration: none;
}

.main .nav-bar span input{
    border-radius: 10px;
    width: 80px;
}

.main .nav-bar span a:hover{
    text-decoration: none;
}

<span><input type="text"><i class="far fa-search" aria-hidden="true"></i></span>